    body {margin:0;}

    .navbar {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background: #ddd;
      color: black;
    }

    .main {
      padding: 16px;
      margin-top: 30px;
      height: 1500px; /* Used in this example to enable scrolling */
    }


    .footer{
      overflow: hidden;
      background-color: #323232;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
      color: #FFFFFF;
      left: 0%;
    }

    .footer p{
      text-align: center
    }

    .pages .hide:not(:target){
      display: none;
      background: yellow;
    }

    .pages .hide:target{
      padding-top: 20%;
      display: block
    }

    .field{
      margin: 30px 0px;
    }

    .field input{
      width: 100%;
      padding: 5px 0;
      margin: auto;
    }

    .field input[type=text], .field input[type=password]{
      width: 94%;
    }

    .field p{
      text-align: center;
    }

    #check{
      width: auto;
    }
